# File: infrastructure/kubernetes/base/pdb.yaml
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: backend-api
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: backend-api
