apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml
  - monitoring/prometheus.yaml
  - monitoring/grafana.yaml
  - monitoring/dashboard-configmap.yaml
