apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ${NAMESPACE}

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app: ${APP_NAME}
  managed-by: kustomize

images:
  - name: ${DOCKERHUB_USERNAME}/${APP_NAME}
    newTag: ${DOCKER_IMAGE_TAG}