apiVersion: v1
kind: Service
metadata:
  name: ${APP_NAME}-service
  namespace: ${NAMESPACE}
  labels:
    app: ${APP_NAME}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "${APP_PORT}"
spec:
  type: NodePort
  selector:
    app: ${APP_NAME}
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: ${APP_PORT}
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800