stages:
  - build
  - docker

variables:
  IMAGE_NAME: registry.gitlab.com/hiteshm/devops-node-app
  DOCKER_TLS_CERTDIR: ""

before_script:
  - docker info

build:
  stage: build
  image: node:18
  script:
    - cd app
    - npm install
    - npm test || echo "No tests"

docker-build:
  stage: docker
  image: docker:25
  services:
    - docker:25-dind
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker build -t $IMAGE_NAME:$CI_COMMIT_SHA ./app
    - docker tag $IMAGE_NAME:$CI_COMMIT_SHA $IMAGE_NAME:latest
    - docker push $IMAGE_NAME:$CI_COMMIT_SHA
    - docker push $IMAGE_NAME:latest
  only:
    - main
