stages:
  - build
  - test
  - push
  - deploy

variables:
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE/devops-app:$CI_COMMIT_SHORT_SHA
  KUBECONFIG_PATH: /builds/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/kubeconfig

before_script:
  - umask 077
  - echo "$KUBECONFIG_PROD" > $KUBECONFIG_PATH
  - export KUBECONFIG=$KUBECONFIG_PATH

build:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  script:
    - docker build -t $DOCKER_IMAGE ./app

test:
  stage: test
  image: node:18
  script:
    - cd app
    - npm install
    - npm test

push:
  stage: push
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker push $DOCKER_IMAGE

deploy:
  stage: deploy
  image: lachlanevenson/k8s-kubectl:latest
  script:
    - kubectl apply -k kubernetes/overlays/prod
  only:
    - main
