apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

namespace: ${NAMESPACE}

namePrefix: local-

commonLabels:
  environment: local
  deployment: minikube

patchesStrategicMerge:
  - |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: ${APP_NAME}
      namespace: ${NAMESPACE}
    spec:
      replicas: 1
      template:
        spec:
          containers:
          - name: ${APP_NAME}
            resources:
              requests:
                cpu: 50m
                memory: 64Mi
              limits:
                cpu: 200m
                memory: 256Mi

  - |-
    apiVersion: autoscaling/v2
    kind: HorizontalPodAutoscaler
    metadata:
      name: ${APP_NAME}-hpa
      namespace: ${NAMESPACE}
    spec:
      minReplicas: 1
      maxReplicas: 3