---
- name: Setup Monitoring Stack
  hosts: devops_servers
  become: true
  vars:
    monitoring_dir: "~/DevOpsMonitoring"

  tasks:
    - name: Install Docker
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Install docker-compose
      apt:
        name: docker-compose
        state: present

    - name: Ensure Docker service is running
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Copy monitoring configs
      copy:
        src: ../../monitoring/
        dest: "{{ monitoring_dir }}"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0755'

    - name: Start Prometheus and Grafana
      shell: docker compose up -d
      args:
        chdir: "{{ monitoring_dir }}/prometheus"
